[defaults]
inventory = inventories/production/hosts
roles_path = roles
host_key_checking = False
retry_files_enabled = False
pipelining = True
timeout = 30
interpreter_python = auto_silent
stdout_callback = yaml

[ssh_connection]
ssh_args = -o ServerAliveInterval=60 -o ControlMaster=auto -o ControlPersist=180s
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True