[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address={{ node_exporter_web_listen_address }} \
{% for collector in node_exporter_enabled_collectors %}
  --collector.{{ collector }} \
{% endfor %}
  --collector.textfile.directory=/var/lib/node_exporter/textfile_collector

SyslogIdentifier=node_exporter
Restart=always

[Install]
WantedBy=multi-user.target